
.register_submain{
    height: 500px;
    width: 400px;
    border-radius: 2%;
    border: 2px solid #dbdbdb;
    margin-top: 100px;
    margin-bottom:300px;
    margin-left: 50px;
    text-align: center;
    background-color: white;

}

.register__text {
    width: 258px;
    height: 30px;
    margin: 2px;
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
    padding-left: 10px;

}

.register__button {
    width: 270px;
    height: 36px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    border: 1px solid #0395f6;
    background-color: #0395f6;
    color: white;

}

.register__logo {
    width: 175px;
    margin-top: 25px;
    margin-bottom: 10px;
}
register__signin{
    height:300px;

}